{% extends 'base.html' %}
{% block title %} Home{% endblock title %} 
{% block active%}active{% endblock active%}
{% block body %}

        <div class="container mx-auto px-6">
            <h3 class="text-gray-700 text-2xl font-medium">Mobile</h3>
            <span class="mt-3 text-sm text-gray-500">200+ Products</span>
            <div class="grid gap-6 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 mt-6">

            {%for temp in data%}
      <div class="container mx-auto max-w-xs rounded-lg overflow-hidden shadow-lg my-2 bg-white">
      <div class="relative mb-6">
 <a href="{{temp.image}}"><div class=""></div><img class="card-img-top" data-src="holder.js/100px60/" alt="100%x60" src="{{temp.image}}" data-holder-rendered="true" style="height: 300px; width: 100%; display: block;"></a>
         <!-- {% comment %} <div class="text-center absolute w-full" style="bottom: -100px">
            <div class="mb-10">
               <p class="text-white tracking-wide uppercase text-lg font-bold">{{temp.name}}</p>
               <p class="text-gray-400 text-sm">@witch_forever</p>
            </div>
            <button class="p-4 rounded-full transition ease-in duration-200 focus:outline-none">
               <svg viewBox="0 0 20 20" enable-background="new 0 0 20 20" class="w-6 h-6">
                  <path fill="#FFFFFF" d="M16,10c0,0.553-0.048,1-0.601,1H11v4.399C11,15.951,10.553,16,10,16c-0.553,0-1-0.049-1-0.601V11H4.601
                     C4.049,11,4,10.553,4,10c0-0.553,0.049-1,0.601-1H9V4.601C9,4.048,9.447,4,10,4c0.553,0,1,0.048,1,0.601V9h4.399
                     C15.952,9,16,9.447,16,10z" />
               </svg>
            </button>
         </div> {% endcomment %} -->

      </div>
      <form action="/product_details" method ="post" id="Systemform2" >
         {% csrf_token %}
         
         <button type="Submit" class="btn btn-light"name="product_details" value="{{temp.id}}" form="Systemform2" class="read_more"><h3>{{temp.title}}</h3></button>
        </form>
      
      <div class="py-6 px-4 text-center tracking-wide grid grid-cols-3 gap-6">
         <div class="posts">
            
            <p class="text-lg">{{temp.ram}}</p>
            <p class="text-green-400 text-sm">RAM</p>
         </div>
         <div class="followers">
            <p class="text-lg">{{temp.rom}}</p>
            <p class="text-red-400 text-sm">ROM</p>
         </div>
         <div class="following">
            <p class="text-lg">{{temp.price}}</p>
            <p class="text-green-400 text-sm">Price</p>
         </div>
      </div>
   </div>

                {%endfor%}
            </div>
            
            <div class="flex justify-center">
               <a class="nav-link  {% block profileactive%}{% endblock profileactive%}" href="/phones">See All</a>
            </div>
        </div>




{% endblock body %}